<div *ngIf="isLoaded">



<div class="container pt-5 pb-2">
  <div class=" w-100 text-center">
  Last Updated Date:  {{ date |date }}
  </div>
</div>


<h1 class="text-center font-weight-bold pt-5 pb-5">Globally</h1>
<div class="container">

  <div class="row w-100 ">

  <div class="col-4 text-center">

    <app-card heading="New Confirmed" count={{newConfirmed}}></app-card>

  </div>

  <div class="col-4 text-center">
    <app-card heading="Total Confirmed" count={{totalConfirmed}}></app-card>
  </div>

  <div class="col-4 text-center">
    <app-card heading="New Deaths" count={{newDeaths}}></app-card>
  </div>

</div>
</div>


<div class="container">

  <div class="row w-100 ">

  <div class="col-4 text-center">

    <app-card heading="Total Deaths" count={{totalDeaths}}></app-card>

  </div>

  <div class="col-4 text-center">
    <app-card heading="New Recovered" count={{newRecovered}}></app-card>
  </div>

  <div class="col-4 text-center">
    <app-card heading="Total Recovered" count={{totalRecovered}}></app-card>
  </div>



</div>
</div>



<div class="container">

<h1 class="text-center font-weight-bold pt-5 pb-5">{{currentCountry}}</h1>

<!-- <h4>Basic mat-select</h4>
<mat-form-field appearance="fill">
  <mat-label>Favorite food</mat-label>
  <mat-select>
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field> -->

<h4>Select Country</h4>
<mat-form-field appearance="fill">

  <select matNativeControl required [(ngModel)]="currentCountry"  (change)="onCountryChange($event)">
    <option  [value]="country.Country" *ngFor="let country of Response1">{{country.Country}}</option>
  </select>
</mat-form-field>

  <div class="row w-100">

  <div class="col-4 text-center">

    <app-card heading="New Confirmed" count={{conNewConfirmed}}></app-card>

  </div>

  <div class="col-4 text-center">
    <app-card heading="Total Confirmed" count={{conTotalConfirmed}}></app-card>
  </div>

  <div class="col-4 text-center">
    <app-card heading="New Deaths" count={{conNewDeaths}}></app-card>
  </div>

</div>
</div>


<div class="container">

  <div class="row w-100 ">

  <div class="col-4 text-center">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
    <app-card heading="Total Deaths" count={{conTotalDeaths}}></app-card>

  </div>

  <div class="col-4 text-center">
    <app-card heading="New Recovered" count={{conNewRecovered}}></app-card>
  </div>

  <div class="col-4 text-center">
    <app-card heading="Total Recovered" count={{conTotalRecovered}}></app-card>
  </div>



</div>
</div>

</div>
