<div class="jumbotron bg-white text-center">
  <div class="display-4">
   <h1> Corona Covid-19 Tracker Country wise</h1>
  </div>

  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quasi quae magni unde enim, quam ducimus saepe, et quod placeat aspernatur hic molestias odit aperiam illum quo dolores temporibus distinctio!</p>
  <hr class="my-4">

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint et accusantium sequi quasi repellat magnam, itaque numquam architecto id laboriosam eius impedit in ad asperiores inventore. Itaque animi voluptas repellendus!</p>

</div>
